In [1]:
import csv 
import pandas as pd
import numpy as np

In [2]:
pwd!

'C:\\Users\\mathe\\Desktop\\PowerBi\\Comunidade_DS\\curso_python_zero_ds'

In [3]:

filepath = 'base_de_dados/kc_house_data.csv'

data = pd.read_csv(filepath)

# mostra quantidade de número de linhas e de colunas a função se chama nome_da_coluna.shape

In [4]:
## comando para vizualizar de forma ordenada os dados da coluna de preço 

#data = data[['id', 'price']].sort_values('price', ascending=False)
#print(data)

## Resolução dos exercícios

### Novas perguntas do CEO para vocês


* Quantas casas estão disponíveis para compra ? 
* Quantos atributos as casas possuem ? 
* Quais são os atributos das casas ? 
* Qual a casa mais cara (casa com maior valor de venda) ? 
* Qual a casa com maior número de quartos ? 
* Qual a soma total de quartos do conjunto de dados ? 
* Quantas casas possuem 2 banheiros?
* Qual o preço médio de todas as casas no conjunto de dados?
* Qual o preço médio de casas com 2 banheiros?
* Qual o preço mínimo entre as casas com 3 quartos?
* Quantas casas possuem mais de 300 metros quadrados na sala de estar?
* Quantas casas tem mais de 2 andares?
* Quantas casas tem vista para o mar?
* Das casas com vista para o mar, quantas tem 3 quartos?
* Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

### 1. Quantas casas estão disponíveis para compra ?

In [31]:
## as colunas 'id' e 'date' não fazem parte do dataset 


data.head(40)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,109.740
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,239.010
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,71.610
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,182.280
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,156.240
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,504.060
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,159.495
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,98.580
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,165.540
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,175.770
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,331.080
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,107.880
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,132.990
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,127.410
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,168.330
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,274.350
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,175.770
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,148.800
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,111.600
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,116.250
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,150.660
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,283.650
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,211.110
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,99.510
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,227.850
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,159.030
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,227.850
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,130.200
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,141.360
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,239.010
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,215.760
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,110.670
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,216.690
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,101.370
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,191.580
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,213.900
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,154.380
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,219.480
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,113.460
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,243.660

In [6]:
# selecionar a coluna id 
# depois conta os dados únicos da coluna id, assim retornando o valor total da quantidade de id que tem

houses = len(data['id'].unique())

print(f'A quantidade de casas disponíveis são de {houses}')

A quantidade de casas disponíveis são de 21436

In [7]:
# segunda forma de resolver o mesmo problema da quantidade de casas disponíveis 
# remover os dados duplicado da coluna id 
# depois contar a quantidade de dados total , após a remoção

len(data['id'].drop_duplicates())

21436

### 2. Quantos atributos as casas possuem ?

In [8]:
## Contando quantas colunas tem ao todo dentro do dataset 

qtd_atributos = data.drop(['id', 'date'], axis = 1).columns

print(f'As casas possuem {len(qtd_atributos)} atributos')

As casas possuem 19 atributos

### 3. Quais são os atributos das casas ?

In [9]:
## como a variável qtd_atributos já existia , sendo global, trouxe novamente e transformei em lista mostrando
# todos nomes das colunas que existem no dataset
atributos = qtd_atributos.to_list()
print(f' essa são os nomes de todas as colunas do dataset {atributos}')

 essa são os nomes de todas as colunas do dataset ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### 4. Qual a casa mais cara (casa com maior valor de venda) ?

In [10]:
## precisa resetar o index do dataframe porque preciso pegar o index da casa que é mais cara
## caso não faça o reset o valor que será pego é primeiro valor da coluna id , esse valor não é a casa mais cara
## utiliza função .loc para pegar a primeira linha da coluna id por 



data[['id', 'price']].sort_values('price',ascending= False).reset_index( drop = True).loc[0, 'id']

6762700020

### 5. Qual a casa com maior número de quartos ?

In [11]:

data[['id', 'bedrooms']].sort_values('bedrooms', ascending= False).reset_index(drop = True).loc[0, 'id']

2402100895

### 6. Qual a soma total de quartos do conjunto de dados ?

In [63]:

qtd_total_rooms = data['bedrooms'].sum()
                   
print(f'O total de quartos da base de dados {qtd_total_rooms}')

O total de quartos da base de dados 72854

### 7. Quantas casas possuem 2 banheiros?

In [13]:
## Estrategia
## 1. Seleciona todas as linhas da coluna 'bathrooms' sejam iguais 2
## 2 . Pegar todos os 'id' que tem 2 bathrooms
## 3. e no final realioza a contagem dessas linhas com o método len

houses_with_2_bathrooms = len(data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']])

print(f'O número de casas com 2 banheiros são de {houses_with_2_bathrooms}')

O número de casas com 2 banheiros são de 1930

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [14]:
### Estratégia
## Pega a função que realiza a média de valores de preço e arredonda esses valores

price_mean = np.round(data['price'].mean(), 2)

print(f'O preço médio das casas é de {price_mean} R$')

O preço médio das casas é de 540088.14 R$

### 9. Qual o preço médio de casas com 2 banheiros?

In [15]:

result = np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

print(f'O valor médio das casas com 2 banheiros é de {result} R$')

O valor médio das casas com 2 banheiros é de 457889.72 R$

### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [16]:
result_min = data.loc[data['bedrooms'] == 3, 'price'].min()
print(f'O valor médio das casas com 2 banheiros é de {result_min} R$')

O valor médio das casas com 2 banheiros é de 82000.0 R$

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [23]:
data['m2'] = data['sqft_living'] * 0.093

houses_300 = len(data.loc[data['m2'] > 300, 'id'])

print(f' {houses_300} casas possuem mais de 300 metros quadrados na sala de estar.'
)

 2258 casas possuem mais de 300 metros quadrados na sala de estar.

### 12 . Quantas casas tem mais de 2 andares?

In [25]:
houses_floors = len(data.loc[data['floors'] > 2, 'id'])

print(f'{houses_floors} casas possuem mais de 2 andares')

782 casas possuem mais de 2 andares

### 13. Quantas casas tem vista para o mar?

In [40]:
mar = len(data.loc[data['waterfront'] != 0, 'id'])
print(f'{mar} casas tem vista para o mar')

163 casas tem vista para o mar

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [64]:
casa = data.loc[(data['waterfront'] == 1)  & (data['bedrooms'] == 3), 'id']

print(f'{casa} casas tem vista para o mar e possuem 3 quartos')

49        822039084
457      2122039094
540       622049114
656      3760500116
1261     7636800041
            ...
19622    7351200295
19971    2623039019
19984    2025069140
20325     518500480
21201     518500460
Name: id, Length: 64, dtype: int64 casas tem vista para o mar e possuem 3 quartos

### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [58]:
## a nova coluna chamada m2 vem da questão 11 , pois os dados estão na unidade de medida ft temos que passar para metros

resposta = len(data.loc[(data['m2'] > 300)  & (data['bathrooms'] > 2), 'id'])

print(f'{resposta} casas tem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros')

2201 casas tem mais de 300 metros quadrados de sala de estar e mais de 2 banheiros